


/* Réinitialisation des marges et des paddings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Styles du header */
  header {
    background-color: #262626;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
  }

  .header-logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
  }

  .retourhome {
    color: #000000;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    border-radius: 50em;
    width: 10%;
    height: 7%;
    padding: 5px 5px;
    background-color: #919191;
  }

  .retourhome:hover {
    background-color: #000000;
    color: #527dff9d;
  }

  .deconnexion {
    color: #000000;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    border-radius: 50em;
    width: 20%;
    height: 7%;
    margin-left: 80%;
    padding: 5px 5px;
    background-color: #919191;
  }

  .deconnexion:hover {
    background-color: #000000;
    color: #527dff9d;
  }

  .comms {
    color: #000000;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
  }

  .posts {
    color: #000000;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
  }

  /* Styles du Body */
  body {
    font-family: 'Poppins', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #527dff9d;
  } 

  .profile-background-image {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    border: 5px solid transparent;
    background: linear-gradient(to top left, #134e37, #809d52) border-box;
    transform: translate(-50%, -50%);
    height: 220px;
    width: 220px;
    object-fit: cover;
  }

  .contour-profile-image {
    z-index: 0;
    height: 300px;
  }
